* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

span {
    color: aliceblue;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: rgb(216, 215, 215);
}

.left {
    margin-top:10%;
    margin-bottom:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: rgb(216, 215, 215);
    margin-right: 1px;
}

.navbar {
    height: 10%;
    padding-left: 20%;
    padding-right: 20%;
    top: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 20px;
    width:20px;;
}

.img {
    height: 20px;
    width:20px;;
}


#devprev {
    border-radius: 100px;
    text-align: center;
    align-items: center;
}
