* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

h1 {
    padding-top: 10%;
    font-size: 100px;
    padding-left: 15%;
}

p1 {
    padding-bottom: 50%;
    font-size: 40px;
    padding-left: 15%;
    font-weight: 500;
    color: rgb(114, 114, 114);
}

span {
    padding-left: 15px;
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: rgb(234, 234, 234);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    margin-right: 1px;
}

.navbar {
    margin-top: 10%;
    height: 10%;
    padding-left: 15%;
    padding-right: 10%;
    display: flex;
    align-items: center;
}

#logo {
    height: 55x;
    width: 55px;;
}

.img {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(193, 193, 193);
    height: 35px;
    width:35px;;
}


#devprev {
    margin-left: 7%;
    width: 45%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-style: dashed;
    border-color: rgb(193, 193, 193);
    border-radius: 100px;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 670;
}

#first {
    display: flex;
    height: 15%;
}

#second {
    display: flex;
    height: 50%;
}

#third {
    display: flex;
    height: 30%;
}

.firstdiv {
    border-top-width: 0;
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

.seconddiv {
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
}

.thirddiv {
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
}

